html {
    min-height: 100%;
}
body {
    padding-top: 70px;
    padding-bottom: 40px;
    min-height: 100%;
}

#txt {
    padding: 20px;
}
#date {
    padding: 20px;
}

/*
Input animation
 */
.bar {
    position: relative;
    display: block;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2196F3;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}
.mui-form-control {
    border: 0px;
    background: transparent;
}
.mui-form-control:focus {
    border-color: transparent;
}

.mui-form-control:focus ~ .bar:before,
.mui-form-control:focus ~ .bar:after {
    width: 50%;
}