html {
    min-height: 100%;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: -60px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#txt {
    padding: 20px;
}
#date {
    padding: 20px;
}